<!DOCTYPE HTML>
<!--
	Phantom by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
	<title>Circle</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="assets/css/main.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<noscript>
		<link rel="stylesheet" href="assets/css/noscript.css" />
	</noscript>
</head>

<body class="is-preload">
	<!-- Wrapper -->


	<div id="wrapper">

		<!-- Header -->
		<header id="header">
			<div class="inner">

				<!-- Logo -->
				<a href="/home" class="logo">
					<span class="symbol"><img src="img/logo.svg" alt="" /></span><span class="title">Circle</span>
				</a>

				<!-- Nav -->
				<nav>
					<ul>
						<li><a href="#menu">Menu</a></li>
					</ul>
				</nav>

			</div>
		</header>

		<!-- Menu -->
		<nav id="menu">
			<h2>Menu</h2>
			<ul>
				<li><a href="/home">Home</a></li>
				<li><a href="/medication">Medication</a></li>
				<li><a href="/moodLog">Mood Log</a></li>
				<li><a href="/profile">Profile</a></li>
				<li><a href="/appointments">Appointments</a></li>
				<li><a href="/insights">Insights</a></li>
				<li><a href="/logout">Logout</a></li>
				<!-- <li><a href="generic.html">Appointments</a></li> -->
				<!-- <li><a href="generic.html">Consequat dolor</a></li>
							<li><a href="elements.html">Elements</a></li> -->
			</ul>
		</nav>

		<!-- Main -->
		<div id="main">
			<div class="inner">
				<h1>Medications</h1>
				<section class="image main">
					<h2>Todays Meds: </h2>
					<% for(let i=0; i<todaysMeds.length; i++) {%>
						<ul>
							<li>
								<%= todaysMeds[i] %>
							</li>
						</ul>

						<% } %>

				</section>
				<hr>
				<div class="box alt">
					<div class="row gtr-uniform">
						<div class="col-12">

							<h2 class="pgHead">Add Medication</h2>
							<form action="/addMedication" method="POST">
								<div class="row gtr-uniform p-4">

									<input hidden value="<%= user.local.email %>" name="name">
									<input hidden value="true" name="tookMed">
									<div class="col-12 col-12-small">
									<input type="text" name="medicine" placeholder="Name of Medicine" required>
									<input type="text" name="purpose" placeholder="What's the purpose?" required>
</div>
									<div class="col-12 col-12-small">
									<label>
										Start Date:
										<input type="date" name="startDate" required>
									</label>

									<label>
										End Date:
										<input type="date" name="endDate">
									</label>
									<p>Leave field empty if no End Date</p>
										</div>

										<div class="col-12 col-12-small">
									<label for="">How often: </label>
										<input type="radio" id="daily" value="daily" name="recurrence" checked required>

										<label for="daily">Daily</label>

										<input type="radio" id="weekly" value="weekly" name="recurrence">
										<label for="weekly">Weekly</label>

										<input type="radio" id="monthly" value="monthly" name="recurrence">
										<label for="monthly">Monthly</label>

										<label for="dose">Dosage</label>
										<input type="text" name="dosage" placeholder="ex: 100 mg" id="">
										</div>

										<div class="col-12 col-12-small">
										<label>
											Med Note:
											<input type="text" name="medNotes">
										</label>
										</div>

										<div class="col-12">
											<ul class="actions">
												<li><input type="submit" class="primary" /></li>
												<li><input type="reset" value="Reset" /></li>
											</ul>
										</div>
								</div>
							</form>
							</span>
						</div>
						<!-- <div class="col-12"><span class="image fit"><img src="img/pic13.jpg" alt="" /></span></div> -->
						<!-- <div class="col-4"><span class="image fit"><img src="img/pic01.jpg" alt="" /></span></div> -->


						<% for(let i=0; i<medications.length; i++) {%>
							<div class="col-4" id="<%=medications[i]._id%>">

								<section class="renderSections" id="<%=medications[i].tookMed%>">
									<h3 class="pgHead">
										<%= medications[i].medicine %>
									</h3>
									<p>Purpose: <%= medications[i].purpose %>
									</p>
									<p>
										Start Date: <%= medications[i].startDate %>
									</p>

									<p>Next dose: <%= medications[i].nextDose %>
									</p>
									<p>Recurrence: <%= medications[i].recurrence %>
									</p>
									<p>Time: <%= medications[i].doseTime %>
									</p>
									<p>Notes: <%= medications[i].medNotes %>
									</p>

									<span><i class="fa fa-trash" aria-hidden="true"></i></span>

									<span><i class="fa fa-check-circle" aria-hidden="true"></i></span>


								</section>


							</div>
							<% } %>






					</div>
				</div>

			</div>

		</div>

		

	</div>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>
	<!-- <script src="assets/js/main.js"></script> -->
	<script src="mainTwo.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>


</body>

</html>